.sex{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-top: width(70px);
	padding: 0 width(195.5px);
	div{
		cursor: pointer;
		padding: width(24px) 0 width(16px) 0;
		img{
			width: width(542px);
			height: width(600px);
		}
		h1{
			font-weight: 400;
			font-size: width(28px);
			margin: width(20px) 0 width(10px) width(30px);
		}
		h2{
			display: inline-block;
			font-size: width(12px);
			font-weight: 300;
			margin-left: width(30px);
			text-transform: uppercase;
			letter-spacing: width(1.6px);
			border-bottom: 1px solid black;
			padding-bottom: width(3px);
			&:hover{
				color: rgba(0,0,0,.3);
				border-bottom: 1px solid rgba(0,0,0,.3);
			}
		}
	}
}