	.imgTub{
		top: 80px;
		position: sticky;
		z-index: 100;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		div{
		position: relative;
		img{
			width: width(48px);
			height: width(48px);
			cursor: pointer;
		}
		}
		div:not(:last-child){
				margin-bottom: width(20px);
			}
		.activeImg{
			.shadow{
				position: absolute;
				top: 0;
				left: 0;
				background-color: rgba(0,0,0,.05);
				width: width(48px);
				height: width(48px);
				transition: all .5s;
			}
		}


	}
	.imgTubWrap{
		width: width(48px);
		height: width(48px);
		margin-left: width(-48px);
	}
	.imgWin{
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		padding: 0 width(24px);
		img{
			width: width(663px);
			height: width(663px);
			
		}
	}