.list {
	padding: width(100px) width(195.5px) 0;
	background-color: #f2f2f2;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;

	.navSort {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

	}

	.option {
		background-color: #fff;
		width: width(351px);
	}
}
