.list{
	padding: width(116px) width(195.5px) width(100px);
	background-color: #f2f2f2;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	position: relative;
	.navSort{
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	
	}
		.filter{
			margin-top: width(50px);
			width: width(264px);
			height: width(592px);
			background-color: #fff;
			
		}
}
