*{
	margin: 0;
	padding: 0;
	box-sizing: border-box!important;
	font-family: Graphik;
	font-size: width(14px);
	li{
		list-style-type: none;
	}
	a{
		color: black;
		text-decoration: none;
	}
}

.display0{
	display: none!important;
}

.mbot{
	margin-bottom: width(110px);
}
