.section{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: width(40px) width(195.5px) 0;
	div{
		img{
			width: width(360px);
			height: width(350px);
			cursor: pointer;
		}
		h1{
			text-transform: uppercase;
			font-size: width(12px);
			color: rgba(0,0,0,.4);
			letter-spacing: width(1.6px);
			font-weight: 400;
			cursor: pointer;
			margin: width(24px) width(10px) 0;
			&:hover{
				color: black;
			}
		}
		h2{
			font-size: width(20px);
			margin: width(8px) width(10px);
			font-weight: 400;
			line-height: width(28px);
		}
		a:not(:first-child){
			text-transform: uppercase;
			margin-left: width(10px);
			border-bottom: width(1px) solid black;
			padding-bottom: width(3px);
			letter-spacing: width(1.6px);
			font-size: width(12px);
			&:hover{
				color: rgba(0,0,0,.3);
				border-bottom: width(1px) solid rgba(0,0,0,.3);
			}
		}
	}
}